{% extends "SearchBundle:layout.html.twig" %}

{% block content %}
<h1>Legacy Search</h1>
<p>Have fun searching through this mess.</p>

<div class="row">
  <form role="form" action="/search" method="GET">
    <div class="form-group col-md-8">
      <input type="text" class="form-control" id="inputSearch" name="q" placeholder="Search Phrase">
    </div>
    <div class="col-md-4">
      <button type="submit" id="inputSubmit" class="btn btn-default">Search</button>
    </div>
  </form>
</div>
{% endblock %}
