<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Legacy Search{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Legacy Search</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="col-md-12">
        {% block content %}
        <p>Overwrite this template!</p>
        {% endblock %}
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <div class="col-md-12">
          <p class="text-muted credit">This is a legacy demo. Please do not use for anything else.</p>
        </div>
      </div>
    </div>

    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
  </body>
</html>
