{% extends "SearchBundle:Web:index.html.twig" %}

{% block content %}
{{parent()}}
<div class="row">
  <div class="col-md-12">
    <ul>
    {% for product in products %}
      <li>
        <h3><a href="/product/{{product.id}}">{{product.name}}</a></h3>
        <p>{{product.description}}</p>
        <p>JUST {{ product.price }} &euro; (incl. {{ (product.price - (product.price/ 1.19)) }} &euro; VAT)</p>
      </ji>
    {% else %}
      <li><h3>No product found.</h3></li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
